<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% posts.forEach(post=> { %>
                <% stt=stt + 1 %>
                    <tr>
                        <th scope="row">
                            <%= stt %>
                        </th>
                        <td>
                            <%= post.name %>
                        </td>
                        <td>
                            <%= post.image %>
                        </td>
                        <td>
                            <%= post.description %>
                        </td>
                        <td>
                            <a href="/post/edit/<%= post._id %>" class="btn btn-link">Edit</a>
                            <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-post"
                                data-id="<%= post._id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>

        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa không?
                </div>
                <div class="modal-footer">
                    <button id="btn-delete" type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete form -->
<form name="delete-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var postId
        var deleteForm = document.forms['delete-form']
        var btnDelete = document.getElementById('btn-delete')
        $('#delete-post').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            postId = button.data('id')
            
        })
        btnDelete.onclick = function(){
            deleteForm.action = '/post/' + postId + '?_method=DELETE'
            deleteForm.submit()
        }

    })
</script>