<section>
    <%- include('./partials/topmenu') %>
</section>
<header>
    <%- include('./partials/header')  %>
</header>
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Cart</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="/">Home</a>
            <a href="#">Cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="<%= product.Image %>" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p><%= product.ProductName %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="product-price" style="display: inline-block;"><%= product.Price %></h5>
                                    <i class="fa-solid fa-dong-sign"></i>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="quantity" id="sst" class="product-sst" maxlength="12" value="<%= product.Quantity %>" data-id="<%= product._id %>" > title="Quantity:"
                                            class="input-text qty"/>
                                    </div>
                                </td>
                                
                                <td>
                                    <h5 class="total" style="display: inline-block;">
                                        <%# (parseFloat(product.Price) * product.Quantity).toFixed(6)  %>
                                    </h5>
                                    
                                    <i class="fa-solid fa-dong-sign"></i>
                                </td>
                                <td>
                                    <a type="button" href="#"data-id="<%= product._id %>" data-bs-toggle="modal" data-bs-target="#delete-post">Xóa</a>
                                </td>
                                
                            </tr>
                        <% }) %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 class="sub-total" style="display: inline-block;"><%= total %></h5>
                                <i class="fa-solid fa-dong-sign"></i>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" href="/">Continue Shopping</a>
                                    <a class="checkout-btn main_btn" href="/page/checkout">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<script>
    var results = document.querySelectorAll('.product-sst')
    // results.forEach(result => {
    //     var sst = result.value
    // });
</script>
<footer>
    <%- include('./partials/footer') %>
</footer>
<div class="modal fade" id="delete-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn chắc chắn muốn xóa sản phẩm khỏi giỏ hàng không?
        </div>
        <div class="modal-footer">
            <button type="submit"id="btn-delete" class="btn btn-danger">Xóa khỏi giỏ hàng</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
<form name="delete-form" method="POST">
</form>

<form name="quantity" method="post"></form>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // admin delete product
        var productId
        var deleteForm = document.forms['delete-form']
        var btnDelete = document.getElementById('btn-delete')
        $('#delete-post').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            productId = button.data('id')

        })
        btnDelete.onclick = function () {
            deleteForm.action = '/page/cart/' + productId + '?_method=DELETE'
            deleteForm.submit()
        }


        // tính tiền
        var qtys = document.querySelectorAll('.product-sst')
        var totals = document.querySelectorAll('.total')
        var productPrices = document.querySelectorAll('.product-price')
        var subTotal = document.querySelector('.sub-total')
        
        for (let i = 0; i < qtys.length; i++) {
            totals[i].innerText = (parseFloat(productPrices[i].innerText) * qtys[i].value).toFixed(6)
            qtys[i].addEventListener('click', ()=>{
                totals[i].innerText = (parseFloat(productPrices[i].innerText) * qtys[i].value).toFixed(6)
                calTotal()
                
            })
        }
        function calTotal (){
            let tempTotal = 0
            totals.forEach((total) => {
                tempTotal += parseFloat(total.innerText)
            })
            subTotal.innerText = tempTotal.toFixed(6)
        }


        // update quantity
        var productCartId
        var updateQtyForm = document.forms['update-quatity']
        var checkoutBtn = document.querySelector('.checkout-btn')
        var qtyInputs = document.querySelectorAll('.product-sst')

        qtyInputs.forEach((el)=>{
            productCartId = el.getAttribute('data-id')
        })
    })
</script>