<section>
    <%- include('./partials/topmenu') %>
</section>
<header>
    <%- include('./partials/header')  %>
</header>
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Cart</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="/">Home</a>
            <a href="#">Cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="<%= product.Image  %>" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p><%= product.ProductName  %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$<%= product.Price  %></h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" class="product-sst" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty" />
                                        <button class="btn-product-sst-up"
                                            onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button class="btn-product-sst-down"
                                            onclick="var result = document.getElementById('sst'); var sst = result.value; if( sst > 0 ) result.value--;"
                                            class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                        <% }) %>
                        
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$2160.00</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" href="/">Continue Shopping</a>
                                    <a class="main_btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<script>
    var results = document.querySelectorAll('.product-sst')
    // results.forEach(result => {
    //     var sst = result.value
    // });
</script>
<footer>
    <%- include('./partials/footer') %>
</footer>