<header>
    <%- include('./partials/header.ejs') %>
</header>

<!--================Home Banner Area =================-->




<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Product Checkout</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/page/checkout">Product Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="firstname" placeholder="First name"
                                required />

                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="last" name="lastname" placeholder="Last name"
                                required />
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="phone" placeholder="Phone"
                                required />

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                                required />

                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city" name="city" placeholder="City" required />
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                                required />

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Shipping Details</h3>
                                <input type="checkbox" id="f-option3" name="selector" />
                                <label for="f-option3">Ship to a different address?</label>
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1"
                                placeholder="Order Notes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li>
                                <a href="#">Product
                                    <span>Total</span>
                                </a>
                            </li>
                            <% orders.forEach(order=> { %>
                                <li>
                                    <a href="#"><%= order.ProductName %>
                                        <span class="middle">x <%= order.Quantity %></span>
                                        <span class="last"><%= (parseFloat(order.Price) * order.Quantity).toFixed(6) %> <i class="fa-solid fa-dong-sign"></i></span>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a href="#">Subtotal
                                    <span><%= total %><i class="fa-solid fa-dong-sign"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shipping
                                    <span>15.000<i class="fa-solid fa-dong-sign"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Total
                                    <span><%= (parseFloat(total) + 0.015).toFixed(6) %><i class="fa-solid fa-dong-sign"></i></span>
                                </a>
                            </li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector" />
                                <label for="f-option5">Thanh toán khi nhận hàng</label>
                                <div class="check"></div>
                            </div>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector" />
                                <label for="f-option6">Paypal </label>
                                <img src="img/product/single-product/card.jpg" alt="" />
                                <div class="check"></div>
                            </div>
                            <p>
                                Please send a check to Store Name, Store Street, Store Town,
                                Store State / County, Store Postcode.
                            </p>
                        </div>
                        <a type="button" id="orderBtn" class="main_btn" href="#">Đặt
                            hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success position-absolute top-0 end-0"
        style="display: none;z-index: 11;transform: translate(-33px, 85px);" role="alert" id="alertCheckout">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div style="display: inline-block;">
            Đặt hàng thành công
        </div>
    </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>



<script>
    var orderButton = document.getElementById("orderBtn");
    var successMessage = document.getElementById("alertCheckout");

    // Bắt sự kiện click vào nút đặt hàng
    orderButton.addEventListener("click", function () {
        // Hiển thị thông báo thành công
        successMessage.style.display = "inline-block";

        // Đợi một khoảng thời gian (ví dụ: 3 giây) và tự động đóng thông báo
        setTimeout(function () {
            successMessage.style.display = "none";
        }, 2000);
    });

</script>